/* Media Queries ----------------------------------------------------------- */
/* Very large screens */
@media only screen and (min-width: 1441px) {}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) { }

/* Small screens */
@media only screen and (max-width: 767px) { 
    .row {
        width: auto;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
}
    .row [class*="column"] {width:auto;}
    #container {width:100%;} }

/* Landscape Orientation */
@media screen and (orientation: landscape) {  }

/* Portrait Orientation */
@media screen and (orientation: portrait) {  }

/* Touch Detection */
.touch .your-class {  }