// Import Normalize CSS
@import "normalize";

// Mixins
@import "mixins";

// Global Colors
$defaultColor: #E9E9E9;
$successColor: #5DA423;
$warningColor: #F89406;
$errorColor: #C60F13;
$infoColor: #2BA6CB;

// Default radius for most elements
$defaultRadius: 3px;

/* Global styles */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, button, input, select, textarea {
    color: #222;
}

body { 
    background: white; 
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 1em;
    line-height: 1.4;
    color: #222222; 
    position: relative; 
    -webkit-font-smoothing: antialiased; 
}

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img {
    vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

/* Chrome Frame prompt */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Image replacement */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}


/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Grid */
.row {
  width: 100%;
}

.row:before, .row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}


.row [class*="column"] {
  display: inline-block;
  float: left;
  min-height: 30px;
  position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $defaultColor; 
    color: darken($defaultColor, 40%);
    border: 1px solid #999;
    margin-bottom: 10px;
    margin-left: 12px;

}


.column1 { width: 8.33333%;}
.column2 { width: 16.66667%}
.column3 { width: 25%;}
.column4 { width: 33.33333%;}
.column5 { width: 41.66667%;}
.column6 { width: 50%;}
.column7 { width: 58.33333%;}
.column8 { width: 66.66667%;}
.column9 { width: 75%;}
.column10 { width: 83.33333%;}
.column11 { width: 91.66667%;}
.column12 { width: 100%;}



/* Custom styles -----------------------------------------------------------*/

/* Alerts */
.alert {
    background-color: $defaultColor;
    @include borderRadius($defaultRadius);
    color: darken($defaultColor, 40%);
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid darken($defaultColor, 10%);
}

.success {
    background-color: lighten($successColor, 40%);
    color: $successColor;
    border-color: lighten($successColor, 20%);

}
.warning {
    background-color: lighten($warningColor, 38%);
    color: $warningColor;
    border-color: lighten($warningColor, 30%);
}
.error {
    background-color: lighten($errorColor, 40%);
    color: $errorColor;
    border-color: lighten($errorColor, 30%);
}

.info {
    background-color: lighten($infoColor, 40%);
    color: $infoColor;
    border-color: lighten($infoColor, 30%);
}

#container {
    width:70%;
    margin: 0 auto;
}

/* Tables -----------------------------------------------------------------*/
table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}
th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

// Import addtional CSS
@import "mediaqueries";
@import "print";